body {
	display : table;
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	background-color: beige;
}

html {
	height: 100%;
	margin: 0;
	padding: 0;
}

footer {
	display : table-row;
	height: 16px;
	background-color: maroon;
	color: beige;
	text-align: center;
}

button {
	color: beige;
	background-color: maroon;
	border: 0px;
	border-radius:3px;
	height: 30px;
	font-size: 16px;
}

button:hover {
	color: maroon;
	background-color: beige;
	border: 1px solid maroon;
}

a {
	color: black;
	decoration: none;
}

#exclaGlouton{
	animation-name: exclaGloutonAnim;
	animation-duration: 3.5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

#glouTitre{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#gloutImage{
	margin-left: auto;
	margin-right: auto;
	display: block;
	border: 2px black solid;
	border-radius: 15px;
}

#gloutHeader{
	width:100%;
	position:fixed;
	top:0;
	padding:0;
	margin-left: 0px;
	margin-right: 0px;
}

#glouDroit{
	display:inline-block;
	float:right;
	clear:both;
	animation-name: glouDroit;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

#glouGauche{
	display:inline-block;
	transform: rotateY(180deg);
	animation-name: glouGauche;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

#gloutMenu{
	align: center;
	text-align: center;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
}

@keyframes glouDroit{
	0%{transform: rotate(0deg)}
	50%{transform: rotate(90deg)}
	100%{transform: rotate(0deg)}
}

@keyframes glouGauche{
	0%{transform: rotate(0deg) rotateY(180deg)}
	50%{transform: rotate(-90deg) rotateY(180deg)}
	100%{transform: rotate(0deg) rotateY(180deg)}
}

@keyframes exclaGloutonAnim{
	0%{color:black;font-size: 16px;}
	20%{font-size: 26px;}
	40%{color:#a76000;font-size: 36px;}
	60%{font-size: 46px;}
	80%{font-size: 56px;}
	100%{color:black;font-size: 16px;}
}